@import url('https://fonts.cdnfonts.com/css/sf-pro-display?styles=98774,98773,98770');
/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/poppins-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/poppins-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('.assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

body{
    background: url(./assets/images/bg-left.svg) left top no-repeat,
    #fff url(./assets/images/bg-right.svg) right top no-repeat; 
}
.wrapper{
    max-width: 1920px;
    margin: 0 auto;
}
.logo{
    margin-top: 110px;
    margin-bottom: 93px;
}
.logo__link{
    display: block;
    margin: 0 auto;
    max-width: 190px;
}
.title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 104%;
    text-align: center;
    text-transform: uppercase;
    color: #162C4E;
    opacity: 0.39;
}
.text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}
.countdown__title{
    margin-bottom: 8px;
}
.countdown__text{
    max-width: 423px;
    margin: 0 auto;
}
.countdown__timer{
    margin-top: 32px;
    margin-bottom: 70px;
}
.timer-items {
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 100%;
    color: #162C4E;
    justify-content: center;
}
.timer__item{
   text-align: center;
   position: relative;
   padding-right: 24px;
}
.timer__item:not(:last-child)::after {
    position: absolute;
    content: ':';
    right: 0;
    top: 0;
}
.timer__title{
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
}
.timer__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.countdown-button__subtitle{
    margin-bottom: 12px;
}
.countdown__form{
    text-align: center;
}
.form__button{
    width: 240px;
    height: 60px;
    background: #1D4169;
    border: none;
    border-radius: 40px;
    color: #FFFFFF;
}
.button__img{
    margin-left: 30px;
}