@import url('https://fonts.cdnfonts.com/css/sf-pro-display?styles=98774,98773,98770');
/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/poppins-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/poppins-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('.assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

body{
    background: url(./assets/images/bg-left.svg) left top no-repeat,
    #fff url(./assets/images/bg-right.svg) right top no-repeat; 
}
.wrapper{
    max-width: 1920px;
    margin: 0 auto;
}
.main{
    min-height: calc(100vh - 192px);
}
.logo{
    padding-top: 110px;
    margin-bottom: 93px;
}
.logo__link{
    display: block;
    margin: 0 auto;
    max-width: 190px;
}
.title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 104%;
    text-align: center;
    text-transform: uppercase;
    color: #162C4E;
    opacity: 0.39;
}
.text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}
.countdown__title{
    margin-bottom: 8px;
}
.countdown__text{
    max-width: 423px;
    margin: 0 auto;
}
.countdown__timer{
    margin-top: 32px;
    margin-bottom: 70px;
}
.timer-items {
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 100%;
    color: #162C4E;
    justify-content: center;
}
.timer__item{
   text-align: center;
   position: relative;
   padding-right: 24px;
}
.timer__item:not(:last-child)::after {
    position: absolute;
    content: ':';
    right: 0;
    top: 0;
}
.timer__item:last-child{
    padding-right: 0;
}
.timer__title{
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
}
.timer__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.countdown-button{
    margin-bottom: 156px;
}
.countdown-button__subtitle{
    margin-bottom: 12px;
}
.countdown__form{
    text-align: center;
}
.form__button{
    width: 240px;
    height: 60px;
    background: #1D4169;
    border: none;
    border-radius: 40px;
    color: #FFFFFF;
}
.button__img{
    margin-left: 30px;
}
.footer{
    height: 192px;
    background: #162C4E;
}
.footer-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 61px;
}
.footer-btn{
    flex: 1 auto;
    text-align: right;
}
.footer__button{
    background: none;
    border: none;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    padding: 0;
    margin-right: 111px;
}
.footer-button__img{
    margin-left: 10px;
}
.footer-search{
    position: relative;
    flex: 1.6 auto;
    text-align: right;
}
.footer-search__input{
    border: 1px solid rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
    border-radius: 40px;
    width: 413px;
    height: 59px;
    padding: 0 0 0 27px;
}
.footer-search__btn{
    width: 43px;
    height: 43px;
    position: absolute; 
    top: 9px; 
    right: 8px;
    border: none;
    background: #DF2224;
    border-radius: 50%;
}
.footer-search__input::placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.6);
}
.popup{
    display: none;
    background: rgba(22, 44, 78, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
    width: 100%;
}
.popup-wrapper{
    width: 320px;
    min-height: 370px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background: #FFFFFF;
    border: 1px solid rgba(19, 89, 120, 0.07);
    border-radius: 2px;
}
.popup__img{
    position: absolute;
    right: 16px;
    top: 24px;
    cursor: pointer;
}
.popup__title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 104%;
    text-align: center;
    text-transform: uppercase;
    color: #162C4E;
    margin-top: 98px;
    margin-bottom: 29px;
}
.popup__text{
    max-width: 280px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 30px;
    margin-left: 24px;
}
.popup__button{
    width: 200px;
    height: 60px;
    margin-left: 64px;
    background: #1D4169;
    border-radius: 40px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}
@media screen and (max-width: 1030px) {
    body{
        background: url(./assets/images/bg-left.svg) left top no-repeat,
        #fff url(./assets/images/bg-right.svg) right top no-repeat; 
        background-size: 260px;
    }
}
@media screen and (max-width: 768px) {
    .logo{
        padding-top: 100px;
        margin-bottom: 168px;
    }
    .title{
        font-size: 36px;
    }
    .text{
        font-size: 16px;
    }
    .countdown__title{
        margin-bottom: 20px;
    }
    .countdown__text{
        max-width: 286px;
    }
    .countdown__timer{
        margin: 40px 0;
    }
    .timer-items{
        font-size: 36px;
    }
    .timer__img{
        width: 64px;
        height: 40px;
    }
    .timer__title{
        font-size: 12px;
    }
    .for-lerge-screens{
        display: none;
    }
    .footer{
        height: 160px;
    }
    .main{
        min-height: 100%;
    }
    .footer-wrapper{
        padding-top: 40px;
        display: block;
    }
    .footer-search{
        max-width: 362px;
        margin: 0 auto;
    }
    .footer-search__input{
        width: 340px;
        padding: 0 0 0 20px;
        height: 41px;
    }
    .footer-search__btn{
        width: 33px;
        height: 33px;
        top: 4px;
        right: 4px;
    }
    .footer-btn{
        text-align: center;
    }
    .footer__button{
        margin: 15px 0 0 0;
        font-size: 16px;
    }
    .footer-button__img{
        margin-left: 3px;
    }
}
@media screen and (min-width: 769px) {
    .for-small-screens {
      display:none;
    }
}
@media screen and (max-width: 493px) {
    body{
        background: url(./assets/images/bg-left-small-screen.svg) left top no-repeat,
        #fff url(./assets/images/bg-right-small-screen.svg) right top no-repeat; 
    }
}
@media screen and (max-width: 380px) {
    .logo__img{
        max-width: 128px;
    }
    .logo__link{
        text-align: center;
    }
    .logo{
        padding-top: 80px;
        margin-bottom: 66px;
    }
    .countdown__title{
        margin-bottom: 16px;
    }
    .countdown-button{
        margin-bottom: 120px;
    }
    .footer-search{
        max-width: 280px;
    }
    .footer-search__input{
        width: 260px;
    }
    .footer-search__input::placeholder{
        font-size: 14px;
    }
    .footer{
        height: 141px;
    }
    .footer-wrapper{
        padding-top: 30px;
    }
}